
<!-- Need to ensure that it passes === test! -->
obj = {{obj}},
headers = {{headers}},
table = {{table}}

<div class='well'>
<div class='form-group' ng-repeat='k in headers'><!-- using only top breadth nodes -->
    <label for='{{k.named}}' class='col-sm-1 control-label text-capitalize'>{{k.named}}</label>          
    <div class='col-sm-11'>
      <div ng-if='!k.isRefId()'>
        <input class='form-control' type='text' placeholder='Enter Text' ng-model='obj[k.id]' ng-disabled='k.id == "id"' ng-hide='obj[k.id] == undefined && k.id == "id"'>
      </div>
      <div style="white-space:nowrap" ng-if='k.isRefId()' class='slide-animate'>
        <select style="display:inline"  class='form-control' ng-model='obj[k.id]' ng-options='v.id as v.name for (k,v) in mapOfData[k.ref]'>
          <option value="">-- Create New --</option>
        </select>
        <div ng-show='obj[k.id] === null || _.isObject(obj[k.id])'>
          <dynamic-edit-form dheader='k' parent='obj'></dynamic-edit-form>
        </div>
      </div>
    </div>
</div>
</div>
  