<!-- script type="text/ng-template" id="editModal" -->
  <div class="modal-header">
      <h3 class="modal-title">Edit Form</h3>
  </div>
  <div class="modal-body" ng-controller='EditForm'><!--{{headers[0]}}-->
    <!-- div class="row well" -->
      <form class='form-horizontal' role='form'>
        <div class='form-group' ng-repeat='k in headers[0]'>
            <label for='{{k.obj.dheader.named}}' class='col-sm-3 control-label text-capitalize'>{{k.obj.dheader.named}}</label>          
            <div class='col-sm-9'>
              <input class='form-control' ng-if='!k.obj.dheader.isRefId()' type='text' placeholder='Enter Text' ng-model='formObj[k.obj.dheader.id]' ng-disabled='k.obj.dheader.id == "id"'>
              <div ng-if='k.obj.dheader.isRefId()'>
                <select class='form-control' ng-model='formObj[k.obj.dheader.id]'>
                  <option ng:repeat="v in mapOfData[k.obj.dheader.ref]" value="{{v.id}}">{{v.name}}</option>
                </select>
              </div>
            </div>
        </div>
        <div class='col-sm-2'></div>
        <div class='col-sm-10 btn-group btn-group-lg'>
          <button type="button" ng-click="clone()" class="btn btn-primary">Clone</button>
          <button type="button" ng-click="update()" class="btn btn-warning">Update</button>
          <button type="button" ng-click="delete()" class="btn btn-danger">Delete</button>
          <button type="button" ng-click="clear()" class="btn btn-default">Clear</button>
        </div>
      </form>
    <!-- /div -- >
  </div>
<!--/script -->