          
      <div class="row-3">
        <div class="inside">
          <h4><b>Login Form</b> </h4>
          <form action="#" id="login-form">
            <fieldset>
              <div class="field">
                <label>Username:</label>
                <input type="text" />
              </div>
              <div class="field">
                <label>Password:</label>
                <input type="password" />
              </div>
              <div class="field">
                <label>Company ID:</label>
                <input type="text" />
              </div>

              <div class="field">
                <!--label>Remember Me:</label><input type="checkbox"/-->
                <input type='button' ng-click='login()' value='Log In'>
              </div>
              </fieldset>
            </form>		
          </div>
        </div>
        <div class="extra"><img src="images/header-img.png" alt="" /></div>
      </div>
      <div id="content">
        <ul class="box-list">
          <li>
            <div class="box">
              <div class="border-bot">
                <div class="right-bot-corner">
                  <div class="left-bot-corner">
                    <div class="inner">
                      <div class="box1">
                        <div class="inner">
                          <h4><b>Kcaroo</b></h4>
                          <p>Asia's largest car dealership website<a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="alt">
            <div class="box">
              <div class="border-bot">
                <div class="right-bot-corner">
                  <div class="left-bot-corner">
                    <div class="inner">
                      <div class="box1">
                        <div class="inner">
                          <h4><b>About</b> Template</h4>
                          <p>Kcaroo is APAC largest car dealership website. And we have been in business since 2014<a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="last">
            <div class="box">
              <div class="border-bot">
                <div class="right-bot-corner">
                  <div class="left-bot-corner">
                    <div class="inner">
                      <div class="box1">
                        <div class="inner">
                          <h4><b>Car</b> Concepts</h4>
                          <p>Kcaroo is APAC largest car dealership website. And we have been in business since 2014. <a href="#"><img src="images/arrow.gif" alt="" /></a></p>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div class="indent">
          <div class="wrapper">
            <div class="col-1">
              <h3><b>Welcome to</b> Kcaroo Website</h3>
              <p>Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor ridictum a non laorem lacingilla wisi. Nuncrhoncus eros maurien ulla facilis.</p>
              <div class="img-box1"><img src="images/1page-img.jpg" alt="" />
                <p class="p0">Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu <a href="#">sempor ridictum</a> a non laorem lacingilla wisi. Nuncrhoncus eros maurien ulla facilis tor mauris tincidunt et vitae morbi. Velelit condimentes in laorem quis nullamcorper nam fauctor feugiat pellent.</p>
              </div>
            </div>
            <div class="col-2">
              <div class="box2">
                <div class="border-top">
                  <div class="left-top-corner">
                    <div class="right-top-corner">
                      <div class="inner">
                        <h4><b>Latest</b> News</h4>
                        <ul class="news">
                          <li><a href="#">May 21, 2010</a>
                            <p>Lorem ipsum dolor sit amet, coisectur adipisicing elit, sed doeiusmo.</p>
                          </li>
                          <li><a href="#">May 12, 2010</a>
                            <p>Ut enim ad minim veniam, qnostrud exercitation ullamco.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box3">
                <div class="right-bot-corner">
                  <div class="left-bot-corner">
                    <div class="inner">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
